@media screen and (min-width: 768px) {
 
  .contact--icon-moon {
    display: flex;
    justify-content: flex-end;
  }

  .icon-moon {
    width: 128px;
    height: 128px;
  }

  .icon-cactus {
    height: 180px;
    width: 180px;
  }
  
  .contac--icon-cactus-1 {
    display: flex;
    justify-content: space-between;
  }

}

/* mobile */
@media only screen
and (min-width: 320px)
and (max-width: 768px)
and (-webkit-min-device-pixel-ratio: 2) {


.contact--icon-moon {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
}

.icon-moon {
  width: 64px;
  height: 64px;
  margin-top: 3rem;
}

.icon-cactus {
  width: 90px;
  height: 90px;
}

.icon-brarrel {
  height: 90px;
}

.contac--icon-cactus-1 {
  display: flex;
  justify-content: space-between;
}
}