
.blog-list {
  margin: 4rem 0 0;
  padding: 0;
  cursor: pointer;
}

.blog-item {
  list-style: none;
  background-color: $color-secondary;
  margin-bottom: 1.8rem;
  padding: 3rem;
}

.blog-item > a {
  color: $color-white;
  font-size: 3rem;
  font-weight: 700;
  text-decoration: none;
  line-height: 1.5;
}

.blog-item > a:hover {
  text-decoration: none;
  color: $color-white;
}

.blog-author {
  color: $color-white;
  margin-bottom: 0px;
  font-size: 1.6rem;
}

.blog-date {
  color: $color-white;
  margin-bottom: 0;
  font-size: 1.2rem;
}

.article-text > p {
  color: $color-white;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: 400;
  text-align: justify;
}

.article-wrap {
  height: 100%;
}