.section-about {
  height: 100%;
}

.about-image {
  display: flex;
  justify-content: center;
}


.about-image > img {
  max-width: 300px;
  width: 100%;
  height: auto;
}

.about-text > p {
  font-size: 20px;
  line-height: 1.75;
}