.home {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

  &__title {
    font-size: clamp(3.2rem, 10vw, 6.4rem);
    color: $color-white;
    line-height: 1.6rem;
    margin-bottom: 3rem;
  }

  &__subtitle {
    font-size: clamp(1.5rem, 2vw, 2.4rem);
    color: $color-white;
    text-align: center;
  }
}