*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}

html {
  font-size: 62.5%; 
}

body {
  box-sizing: border-box; 
}

html, body, #__next {
  height: 100%;
  font-family: 'Lato', sans-serif;
  background-color: $color-primary;
}